story
build
tags
.DS_Store
*.swp
*.swo
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
.repl_history
*.o
*.a
.dat*
*.xcodeprojexport DYLD_LIBRARY_PATH="/Applications/Postgres.app/Contents/MacOS/libq"
.motion-bundler.rb