view {
    background-color: #e15900;
}

.input {
    left: 15;
    width: 290;
    height: 40;
    background-color: white;
    font-align: right;
}

#first_name.input {
    top: 50;
}

#last_name.input {
    top: 110;
}

button {
    background-color: #2d1f14;
    font-family: 'cubano';
    font-size: 24px;
    height: 56px;
    color: white;
}

button.next {
    text: 'next >';
    left: 210;
    top: 200;
    width: 120;
    height: 60;
}